/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Huu Khoi
ID: 3979411
Acknowledgement: Ebay, color-hex.com, Amazon, Library of Congress, Gutenberg, W3schools, Abebooks, Goodreads, Spbooks, target.com, Rapis Rare Books, Indigo, Heritage Autions, Sotheby's, Brand Crowd*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cf763b;
  }

header {
    display: flex;
    border: solid;
    background-color: #7f3004;
    max-width: 80%;
    margin:0 auto;
    flex-direction: column;
}

.logo{
    align-items: flex-start;
    justify-content: left;
    margin-left: 5%;
    border-radius: 150%;
}

#hnav{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding-left: 28%;
    background-color: #7f3004;
    justify-content: space-around; 
    padding-bottom: 10px;
    padding-top: 10px;
}

.mobile-nav-icon {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-color: #7f3004;
    display: none;
}

.noline{
    text-decoration: none;
    color: white;
}

.noline:hover:not(button > a) {
    color:#7a665d;
}

a > img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: solid #8d8638;
    border-right: solid #8d8638;
    background-color: white;
    text-decoration: none;
}

#c3{
    border-radius: 0px 0px 25px 25px;
    margin-bottom: 20px;
}


.title{
    display: flex;
    justify-content: space-around;
    background-color: #8d8638;
    border-radius: 25px 25px 0px 0px;
    margin-top: 60px;
}

book{
    padding: 0;
    text-align: center;
    width:300px; 
    margin: 20px 0px 20px 0px;  
}

footer{
    display: flex;
    flex-direction: column;
    border: solid;
    background-color: #b4901e;
    max-width: 80%;
    margin:0 auto;
}

#fnav{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding-left: 28%;
    background-color: #b4901e;
    justify-content: space-around; 
    padding-bottom: 10px;
    padding-top: 10px;
}
button{
    display: flex;
    max-width: 50%;
    margin: auto;
    padding-left:10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
    border: solid;
    background-color: #7a665d;   
}

button:hover{
    transform:scale(1.1);
    transition: 0.3s;
}

iframe{
    display: flex;
    width: 60%;
    height: 600px;
    align-items: center;
    margin: auto;
}

h3{
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #hnav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 20px;
        
    }

    header > nav > div {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    #hnav{
        display: none !important;
    }

    .mobile-nav-icon {
        display: block;
    }
    
    .mobile-nav-icon:active+#hnav {
        display: block !important;
    }

    #hnav:hover {
        display: block !important;
    }

    #fnav{
        padding-left: 0;
        flex-wrap: wrap;
    }
}

@media (max-width: 680px){
    category{
        flex-direction: column;
    }
    book{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}